<!-- views/partials/flash.ejs -->
<% if (typeof success !== "undefined") { %>
<div class="alert alert-success">
    <%= success %>
</div>
<% } %>

<% if (typeof error !== "undefined") { %>
<div class="alert alert-error">
    <%= error %>
</div>
<% } %>

<% if (typeof warning !== "undefined") { %>
<div class="alert alert-warning">
    <%= warning %>
</div>
<% } %>
